# maven ignore
target/

# disconf
#disconf/

# eclipse ignore
.settings/
.project
.classpath
dump.rdb
# intellij ignore
.idea/
*.iml

# local configuration ignore
src/main/webapp/WEB-INF/classes
catalina.base_IS_UNDEFINED/
.gitignore~
.gitlab-ci.yml~
*.ipr
*.iws
logs/
src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/remote-config.properties
src/main/resources/vkmq.config

VKConf/activity/
src/main/resources/vkmq.config

*.DS_Store

runtime/
src/main/resources/vkcat.properties
src/main/resources/bootstrap.properties
.gitignore

work/
